<div id="edit-page">
<div class="edit-profile-page">

<h2>Here what else you could add to your profile</h2>



<form action="/profile/edit" method="POST" enctype="multipart/form-data">

<div class="inputs">
<input type="text" name="phoneNumber" id="" value="" placeholder="Your phone number">

<textarea name="bio" id="edit-bio-for-user" cols="35" rows="5" placeholder="Your bio"></textarea>
<label for="">Your avatar</label>
<input type="file" name="the-picture" id="" value="">
<button>Submit</button>
</div>


</form>
</div>
</div>