<h1>Please, use ypur email and password to login</h1>



<form action="/login" method="POST">

<label for="">Your email address</label>
<input type="email" name="email" id="">


<label for="">Your password</label>
<input type="text" name="password" id="">


<button>Sign In</button>
</form>
