
<div class="signup-or-login-page">









<div class="signup-form">
<h1>Please, use your email and password to login</h1>
<form action="/login" method="POST" autocomplete="none">

<div class="data-for-signup">
<input type="email" name="email" required placeholder="Your email" autocomplete="new-password" >
</div>

<div class="data-for-signup">
<input type="password" name="password" required placeholder="Your password" autocomplete="new-password">
</div>

<button class="sign-up-button">Log In</button>


</form>
</div>



{{#if message}}
<h3>{{message}}</h3>
{{/if}}

</div>