<h2>Please, use your email and password to login</h2>



<form action="/login" method="POST">

<label for="">Your email address</label>
<input type="email" name="email" id="">


<label for="">Your password</label>
<input type="text" name="password" id="">


<button>Sign In</button>
</form>


{{#if message}}
<h3>{{message}}</h3>
{{/if}}