<h1>Hey this is profile page</h1>


{{#if theUser}}
<h1>Hi</h1>
<h2>{{theUser.firstName}}</h2>
<h2>If you would like to change/add info to your profile click on this link below</h2>
<h2><a href="/edit"></a></h2>
{{else}}
<h1>You need to be logged in first to see that page </h1>
{{/if}}