
<div>
<h1>Welcome to sign up page</h1>
<h2>Please, fill out all </h2>


<form action="" method="POST">

<label for="">First name</label>
<input type="text" name="firstName" id="" required>

<label for="">Last Name</label>
<input type="text" name="lastName" id=""  required>


<label for="">Email</label>
<input type="email" name="email" id=""  required>

<label for="">Password</label>
<input type="text" name="passowrd" id=""  required>


<button>Submit</button>


</form>
</div>



{{#if message}}
<h2>{{message}}</h2>
{{/if}}