
<div id="signup-page">

<div class="signup-form">

<h1>SIGN UP NOW</h1>
<form action="" method="POST" autocomplete="none">
<div class="data-for-signup">
{{!-- <label for="">First name</label> --}}
<input type="text" name="firstName"  required placeholder="First Name" autocomplete="none">
</div>

<div class="data-for-signup">
{{!-- <label for="">Last Name</label> --}}
<input type="text" name="lastName"  required placeholder="Last Name" autocomplete="none">
</div>

<div class="data-for-signup">
{{!-- <label for="">Email</label> --}}
<input type="email" name="email"  required placeholder="Email" autocomplete="new-password">
</div>

<div class="data-for-signup">
{{!-- <label for="">Password</label> --}}
<input type="password" name="passowrd"  required placeholder="Passowrd" autocomplete="new-password">
</div>



<div>
<button>Submit</button>
</div>
</div>

</form>
</div>



{{#if message}}
<h2>{{message}}</h2>
{{/if}}