<h4>Hey,{{findedReview.author.firstName}}</h4>

<h5>Here is your review</h5>


<p>Property : {{findedReview.property.name}}</p>

<form action="/profile/all-reviews/editNEW" method="POST">

<textarea name="review" id="" cols="15" rows="5" placeholder="{{findedReview.review}}"></textarea>


<label for="">Your NEW rating from 1 to 10</label>
<input type="text" name="rating" id="" value="{{findedReview.rating}}" >

<button>Submit</button>

</form>


