// html{
//  height: 100%;
// }
body{
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
// LAYOUT
.topnav{
  background-color: rgba(0,113,220, 1);
  overflow: hidden;
  position: fixed;
  top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.topnav a{
  float: right;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5vw;
  transition: color 0.5s, background-color 0.5s;
  height: 100%;
}


.topnav .icon {
  display: none;
}

.topnav a:hover {
  background-color:#001d40;
  color: #7bdaff;
  height: 100%;
  transition: color 0.5s, background-color 0.5s;
}


.padding-top{
  // padding-top: 51.83px;
}


// Home page
#page-section{
  background-image: url("../images/Gale-South-Beach-rooftop-bar-miami.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

}


.welcome-section{
  
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  min-height: 100vh;
}

.main-header{
  
  color:white;
  background-color:  rgba(18, 39, 158, 0.868);
  margin-right: auto;
  margin-left: auto;
  width: 70%; 
  text-align: center;
  border-radius: 0.2vw;

}

.main-header h1,h4{
  padding: 1vw;
}
.main-header h1{
  font-size: 3vw;
}


.main-header h4{
  font-size: 2.3vw;
}
.main-header a{
  font-size: 2.2vw;
  display: block;
  margin-bottom: 1vw;
  width: 13vw;
  border: none;
  background-color: #0b6bb7;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  letter-spacing: 0.25vw;
  transition: color 0.5s, background-color 0.5s;
  border-radius: 0.2vw;

  
}
.main-header a:hover{
  background-color: #001d40;
  transition: color 0.5s, background-color 0.5s;
  color:  #7bdaff;
  
}
// SignUp page

.signup-or-login-page{
  background-image: url('../images/new-york.jpeg');
  background-size: cover;
  background-repeat: no-repeat; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}


.signup-form{
  width: 50vw;
  height: 60vh;
  margin: auto;
  flex-flow: column wrap;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color:white;  
  border-radius: 0.2vw;

}

.data-for-signup{
  border: 1px solid white;
  margin: 1.5vw;
  width: 28vw;
  display: flex;
  justify-content: space-around;
}

.data-for-signup input{
  border: none;
  width: 100%;
  background: transparent;
  color:white;
  padding-left: 10px; 
  border-radius: 0.15vw;

}


.data-for-signup ::placeholder{
  // padding: 0.5vw;
  color:white;
}

.sign-up-button{
  width: 11rem;
  border: none;
  border-radius: 0.2vw;

  background-color: rgba(0,110,223,0.99);
  color: white;
  font-size: 2vw;
}


.profile-page{
  min-height: 100vh;
  background-image: url('../images/6791504-free-city-background.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7vh;
}

.profile-info{
  background-color: rgba(255, 255, 255, 0.5);
  // margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 70vw;
  color:white;
}
.profile-info img{
  height: 20vh;
  border-radius: 6vw; 
  
}

.contact-info-in-profile{
  width: 70vw;
  max-height: 40vh;
  background-color: rgba(98, 140, 230, 0.7);
  display: flex;
  justify-content: space-between;

}

.contact-info-in-profile div{
  padding: 3vw;
  max-height: 40vh;
}
.lower-profile-section{
  display: flex;
  justify-content: space-between;
  // flex-flow: row wrap; 
}
.links{
min-width: 30vw;
background-color: rgba(34, 35, 70,0.5);
height: 100%;
text-align: center;
display: flex;
flex-flow: column wrap;

}

.links a{
display: block;
padding: 0.5vw;
text-decoration: none;
color: white;
background-color: #0070ee;
border-radius: 0.5vw;
margin: 0.5vw auto 0.5vw auto ;
font-size: 2vw;

}
.links a:hover{

  background-color: #011e3f;
  color:#80bfff;
  transition: color 0.5s, background-color 0.5s;

}
.bio{
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
  white-space: pre-wrap;
  overflow: scroll;
  background-image: url("../images/1.png");
  background-size: cover;
  background-repeat: no-repeat; 

}
#edit-page{
  background-image: url('../images/edit-profile-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;  
}
.edit-profile-page{
  color: white;
  margin:auto;
  width: 70vw;
  padding-top: 5vh;
  background-color: rgba(1, 1, 1, 0.7)
}
.edit-profile-page h2{
  text-align: center;
}

.inputs{
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  align-items: center;
  padding-left: 3vw;
}

.inputs input, textarea{
  border: 1px solid white;
  width: 100%;
  background: transparent;
  color:black;
  padding-left: 10px; 
  border-radius: 0.15vw;
  margin:0.8vw;
}

.inputs input::placeholder, textarea::placeholder{
  color:black;
}
.inputs button{
  
  padding: 0.5vw;
  color: white;
  background-color: #0070ee;
  border-radius: 0.5vw;
  border: none;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}


.add-new-property{

  background-image: url('../images/apt4_1536168361.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;  


}
.add-new-property form{
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  background-color: rgba(1, 1, 1, 0.82);
  width: 40vw;
  align-items: center;
}
.add-new-property label{
  border: none;
  margin: 0 !important;
  color: white;

}
.add-new-property input{

  
    border: 1px solid white;
    width: 96%;
    background: transparent;
    color:white;
    padding-left: 10px; 
    border-radius: 0.15vw;
    margin:0.4vw;

}
.add-new-property input::placeholder{
  color:white;
}

.add-new-property button{
  
  padding: 0.5vw;
  color: white;
  background-color: #0070ee;
  border-radius: 0.5vw;
  border: none;
  font-size: 1.5vw;
  margin-bottom: 1vw;
  width: 10vw;
}

.main-dev-for-list{
  padding-top: 8vh; 
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
  background-image: url('../images/city-wallpaper-2.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  min-height: 100vh;
}
.each-property {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: 0.4vw 0.5vw 0.2vw 0.5vw;
  width: 30%;
  align-items: center;
  border: 1px solid #e5e5e5;
  background-color: #000000d1;
  border-radius: 3px;
  color: white;
  max-height: 50vh;
  justify-content: center;
}

.each-property p{
  margin-bottom: 0;
}
.each-property a{
  display: block;
  width: 100%;
}


.each-property:hover{
  -webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
background-color: rgba(0, 29, 64, 0.619);
color:  rgba(125,190,255,1)

}



.each-property img{
  height: 27vh;
  width: 24vw;
  border-radius: 4px; 
}

.each-property button{
  margin: 0.7vw;
  border: none;
  background-color: bisque;
  border-radius: 5px;
}
.cell-or-email{
  font-size: 2vw;
}


.single-property-view{
     margin-top: 20vh;
    height: 45vh;
    display: flex;
    flex-flow: row wrap;
}
.image-for-singles{
  margin-left: 2vw;
}

.image-for-singles, .image-for-singles img {
  float: left;
  
  height: 40vh;
  width: 30vw;


}


.info-for-single-view-property{

  float: left;
  margin-left: 2vw;
  font-size: 2vw;
  display: flex;
  flex-flow: column wrap;
  /* overflow: scroll; */
  width: 70vh;

}

#main-div-for-reviews{

  display:flex;
  flex-flow: row wrap;
  
}
.each-review{
  min-width: 30%;
  border: 0.1vw solid #e5e5e5;
  padding: 2vw;
  margin: 1vw;
  max-width: 33%;
}
.single-review-view{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 15vh 1vh 1vh 1vh;

}
.add-some-padding{
  padding-top: 10vh;
}

.leave-a-review{
  margin-left: 2vw;
  padding-top: 12vh;



}

.leave-a-review textarea{
  color:black;
  border: 1px solid gray;
  // width: 50vw;
  
}
.leave-a-review textarea::placeholder{
  color:blue;
}
.leave-a-review form{
  display: flex;
  flex-flow: column wrap;
}

.leave-a-review form > * {
  width: 50vw;
  margin: 1vw 0;
  border: 1px solid gray; 
}

.rent-submit-page{
  margin: 5vw auto 5vw 20vw;
  display: flex;
  flex-flow: column wrap;
}
.rent-submit-page img {
  max-height: 35vw;
  max-width: 35vw;
}


// 600 px and less design
@media screen and (max-width: 600px) {
  .topnav a:not(:last-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .data-for-signup input {
    font-size: 2vw;

  }
  .profile-info img {
    height: 8vh;
    border-radius: 6vw;
  }
  .contact-info-in-profile div > h2 {
    font-size: 2vw;
  }
  .bio{
    font-size: 2vw;
  }
  .topnav{
    height: 5vh;
  }

  .main-header h1{
    font-size: 5vw;
  }
  
  
  .main-header h4{
    font-size: 4.5vw;
  }
  .main-header a{
    font-size: 6.2vw;
    width: 35vw;
  }
  .padding-top {
    padding-top: 0;
}
.signup-form{
  height: 28vh;
}
.signup-form h1{
  font-size: 1.4rem;
}
#signup-page{
  min-height: 100vh;
}
.sign-up-button{
  width: 6.7rem;
  font-size: 4vw;
}
.main-dev-for-list{
  flex-flow: column wrap;
}
.each-property{
  width: 98%;
  
    display: flex;
    flex-flow: column wrap;
    margin: 0.4vw 0.5vw 0.2vw 0.5vw;
    
    align-items: center;
    border: 1px solid #e5e5e5;
    background-color: #000000d1;
    border-radius: 3px;
    color: white;
    max-height: 50vh;
}


.each-property img {
  height: 15vh;
  width: 50vw;
}


.inputs input, textarea {
  font-size: 3vw;
  background: rgba(239, 199, 0, 0.5);
  color: black;
}
.inputs textarea::placeholder{
  color:black
}
.new-review-form{
  display: flex;
  flex-flow: column wrap;
  padding: 4vw;
}
.new-review-form input{
  border: 1px solid gray;
}

.add-new-property form{
  // margin: 3vh 0 auto 0;
  width: 80vw;
}

.add-new-property label {
  border:none;
  color:white;
  margin: 0 !important;
}
.edit-profile-page h2 {
  text-align: center;
  font-size: 6vw;
}
.each-review button{
  background: red;
}

.single-review-view {
  flex-flow: column wrap;

}
.each-review{
  max-width: 48%;
}
.single-property-view {

  margin-top: 8vh;
  height: 59vh;

}
.image-for-singles{
  width:95vw;
  margin-bottom: 1vh;
}
.image-for-singles img{
  width:95vw;
}
.info-for-single-view-property{
  font-size: 4vw;
}


}


@media screen and (min-width: 600px) and (max-width: 813px){
.padding-top{
  padding-top: 0;
}
.each-property {

  width: 45% !important;
}
.main-dev-for-list {
  flex-flow: row wrap !important;
}
.signup-form h1{
  font-size: 2vw;
}
.signup-form form{
  width: 29vw;
}
#main-div-for-reviews{

  display:flex;
  flex-flow: column wrap;
}

.main-dev-for-list{
  flex-flow: column wrap;
}
.each-property{
  width: 100%
}

.add-new-property form{
  margin-top: 8vh;
}

}
