// html{
//  height: 100%;
// }
body{
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
// LAYOUT
.topnav{
  background-color:  #0071DC;                 // rgba(0,113,220, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.topnav a{
  float: right;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5vw;
  transition: color 0.5s, background-color 0.5s;
  height: 100%;
}


.topnav .icon {
  display: none;
}

.topnav a:hover {
  background-color:#001d40;
  color: #7bdaff;
  
  height: 100%;
  transition: color 0.5s, background-color 0.5s;
}


.padding-top{
  // padding-top: 51.83px;
}


// Home page
#page-section{
  background-image: url("../images/Gale-South-Beach-rooftop-bar-miami.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

}


.welcome-section{
  
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  min-height: 100vh;
}

.main-header{
  
  color:white;
  background-color:  rgba(18, 39, 158, 0.568);
  margin-right: auto;
  margin-left: auto;
  width: 70%; 
  text-align: center;
  border-radius: 0.2vw;

}

.main-header h1,h4{
  padding: 1vw;
}
.main-header h1{
  font-size: 3vw;
}


.main-header h4{
  font-size: 2.3vw;
}
.main-header a{
  font-size: 2.2vw;
  display: block;
  margin-bottom: 1vw;
  width: 13vw;
  border: none;
  background-color: #0b6bb7;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  letter-spacing: 0.25vw;
  transition: color 0.5s, background-color 0.5s;
  border-radius: 0.2vw;

  
}
.main-header a:hover{
  background-color: #001d40;
  transition: color 0.5s, background-color 0.5s;
  color:  #7bdaff;
  
}
// SignUp page

.signup-or-login-page{
  background-image: url('../images/new-york.jpeg');
  background-size: cover;
  background-repeat: no-repeat; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}


.signup-form{
  width: 50vw;
  height: 60vh;
  margin: auto;
  flex-flow: column wrap;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color:white;  
  border-radius: 0.2vw;

}

.data-for-signup{
  border: 1px solid white;
  margin: 1.5vw;
  width: 28vw;
  display: flex;
  justify-content: space-around;
}

.data-for-signup input{
  border: none;
  width: 100%;
  background: transparent;
  color:white;
  padding-left: 10px; 
  border-radius: 0.15vw;

}


.data-for-signup ::placeholder{
  // padding: 0.5vw;
  color:white;
}

.sign-up-button{
  width: 11rem;
  border: none;
  border-radius: 0.2vw;

  background-color: rgba(0,110,223,0.99);
  color: white;
  font-size: 2vw;
}


.profile-page{
  min-height: 100vh;
  background-image: url('../images/6791504-free-city-background.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7vh;
}

.profile-info{
  background-color: rgba(255, 255, 255, 0.5);
  // margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 70vw;
  color:white;
}
.profile-info img{
  height: 20vh;
  border-radius: 6vw; 
  
}

.contact-info-in-profile{
  width: 70vw;
  max-height: 40vh;
  background-color: rgba(98, 140, 230, 0.7);
  display: flex;
  justify-content: space-between;

}

.contact-info-in-profile div{
  padding: 3vw;
  max-height: 40vh;
}
.lower-profile-section{
  display: flex;
  justify-content: space-between;
  // flex-flow: row wrap; 
}
.links{
min-width: 30vw;
background-color: rgba(34, 35, 70,0.5);
height: 100%;
text-align: center;
display: flex;
flex-flow: column wrap;

}

.links a{
display: block;
padding: 0.5vw;
text-decoration: none;
color: white;
background-color: #0070ee;
border-radius: 0.5vw;
margin: 0.5vw auto 0.5vw auto ;
font-size: 2vw;

}
.bio{
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
  white-space: pre-wrap;
  overflow: scroll;
  background-image: url("../images/1.png");
  background-size: cover;
  background-repeat: no-repeat; 

}

// 600 px and less design
@media screen and (max-width: 600px) {
  .topnav a:not(:last-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav{
    height: 5vh;
  }

  .main-header h1{
    font-size: 5vw;
  }
  
  
  .main-header h4{
    font-size: 4.5vw;
  }
  .main-header a{
    font-size: 6.2vw;
    width: 35vw;
  }
  .padding-top {
    padding-top: 0;
}
.signup-form{
  height: 28vh;
}
.signup-form h1{
  font-size: 1.4rem;
}
#signup-page{
  min-height: 100vh;
}
.sign-up-button{
  width: 6.7rem;
  font-size: 4vw;
}

}


@media screen and (min-width: 600px) and (max-width: 812px){
.padding-top{
  padding-top: 0;
}
.signup-form h1{
  font-size: 2vw;
}
.signup-form form{
  width: 29vw;
}











}
