






<div class="leave-a-review">

<h4>So you are going to leave a review about:</h4>

<p>{{findedProperty.name}} property</p>


<form action="/profile/list-my-rented-properties/{{findedProperty._id}}/add-review" method="POST">

<label for="">Your review</label>
<textarea name="review" id="" cols="20" rows="5" placeholder="Your review"></textarea>


<label for="">Your rating from 1 to 10</label>
<input type="number" name="rating" id="">

<button>Submit</button>

</form>

</div>